Jabber:
	ID:
	Password:

Sentinel:
	Enabled: true
	KillOnSight:
		- anonymous
		- telegram

GPG:
	Enabled: false
	KeyPath:
	
Upyachka:
	Enabled: true
	PreemptiveStrikes: false

Logger:
	LogLevel: 1

Debug:
	Backtrace: false
