Jabber:
	ID:
	Password:

Bnw:
	Nickname:

Sentinel:
	Enabled: true
	KillOnSight:
		- anonymous
		- telegram

PGP:
	Enabled: false
	KeyId:
	PublicKeyUrl:
	
Upyachka:
	Enabled: true
	PreemptiveStrikes: false

Logger:
	LogLevel: 1

Debug:
	Backtrace: false
